.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noselect:hover {
  cursor: default;
}

body {
  background-color: lightgrey;
  padding: 0;
}

.page {
  background-color: white;
  padding: 50px;
  text-align: center;
  line-height: 100%;
}

.main-header {
  text-align: center;
  /*color: #282828;*/
  font-family: sans-serif;
}

#chess-dashboard {
  /*display: inline-block;*/
  /*float: right;*/
  /*width: 300px;*/
  padding: 0;
  margin-top: 1em;
}

.chess-dashboard-subpanel {
  margin: 20px;
}

#captured-pieces {
  min-height: 70px;
  text-align: left;
}

.captured-piece {
  display: inline-block;
}

.captured-piece img {
  width: 32px;
  height: 32px;
}

#move-record .panel-body {
  height: 300px;
  overflow: auto;
  margin: 0;
  padding: 0;
}

#move-record-table {
}

#move-record-table thead th {
  text-align: center;
}

.move-being-viewed {
  background-color: lightgrey;
}

.player-indicator {
  width: 16px;
  height: 16px;
}

#chess-board {
  margin: auto;
  width: 562px; /* 25 + 8*64 + 25 */
}

#chess-board table {
  border-spacing: 0;
}

#chess-board-origin {
  position: relative;
}

.chess-square {
  width: 64px;
  height: 64px;
  margin: 0;
  padding: 0;
  /*border: 2px solid black;*/
}

/* Change LEFT_BORDER_WIDTH_PX in chess-ui.js if you change the width
    of this border. */
.col-0 {
  border-left: 1px solid #A3B2BF;
}

.col-7 {
  border-right: 1px solid #A3B2BF;
}

#row-7 .chess-square {
  border-top: 1px solid #A3B2BF;
}

#row-0 .chess-square {
  border-bottom: 1px solid #A3B2BF;
}

.chess-row {
  margin: 0;
  padding: 0;
}

.black-square {
  background-color: #A3B2BF;
  /*background-color: grey;*/
}

.white-square {
  background-color: white;
}

.chess-piece {
  position: absolute;
  z-index: 0;
}

.piece-being-dragged {
  z-index: 1;
}

.row-number, .column-letters td {
  font-family: sans-serif;
  text-align: center;
  font-size: 12pt;
  color: #444;
}

.row-number {
  width: 25px; /* The width of #chess-board depends on this */
  padding: 0;
}

#game-status {
  text-align: center;
  margin-bottom: 10px;
  font-family: sans-serif;
}

.alert-hidden {
  visibility: hidden;
}

.major-status-change {
  font-weight: bold;
  color: red;
}
