extends layout

block header
  link(rel="stylesheet" href="/stylesheets/index.css")

block content
  .container.page(ng-app="chessApp" ng-controller="indexController")  
    nav.navbar.navbar-default
      .container-fluid
        .collapse.navbar-collapse
          //- ul.nav.navbar-nav.navbar-left
          //-   li
          //-     a(href="#/") Home
          ul.nav.navbar-nav.navbar-right.auth-controls
            li <a><strong>{{me.username}}</strong></a>
            li <a href="/auth/logout">Logout</a>

    div
      div.back-button(ng-show="notAtHome")
        a.h3(href="#/")
          i.fa.fa-arrow-left
          
      h1.page-header Fairy Chess
    
    div(ng-view)

block scripts
  script(src="/scripts/index.js")
