doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Fairy Chess
		link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
		link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="/stylesheets/layout.css")
		block header

	body
		block content

		script(src="/scripts/lib/lodash.js")
		script(src="/scripts/lib/jquery.min.js")
		script(src="/scripts/lib/angular.min.js")
		script(src="/scripts/lib/angular-route.min.js")
		script(src="/scripts/lib/socket.io-1.3.5.js")
		script(src="/scripts/lib/socket.js")
		block scripts
