doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Fairy Chess
		link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
		link(rel="stylesheet" href="/stylesheets/layout.css")

	body
		div.container#page
			block content
		
