div
  h4 Challenge a Friend!
  
  form#initiate-challenge-form(ng-submit="sendChallenge()")
    .form-group
      input.form-control#initiate-challenge-receiever(ng-model="userToChallenge" placeholder="Username of friend to challenge")
    .form-group
      a.btn.btn-default(href="#/") Cancel
      span.horizontal-spacer
      input.btn.btn-warning(type="submit" value="Send Challenge")
