p 
  strong {{pieceType.name}}
p(ng-if="pieceType.royal")
  em Royal
chess-move-rule-display(ng-if="pieceType" chess-rule="pieceType.movementRule"
  chess-display-movement-vectors="displayMovementVectors" chess-is-nestable="isNestable" chess-game="game")
