p {{pieceLoc}}

.col-md-8.chess-board-container.noselect
  #chess-board
    .chess-square(ng-repeat="loc in boardLocs" class="{{squareClasses(loc)}}")
      div.chess-square-target(data-drop="true" data-jqyoui-options jqyoui-droppable="{onOver: dummyDrop({{loc}})}")
      img.chess-piece(ng-if="dummyShowPiece(loc)" src="/Images/WhitePawn.png"
        data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
        jqyoui-draggable="{animate:true}")

#chess-dashboard.col-md-4.panel.panel-primary
  .panel-heading <strong>{{game.players.white.username}}</strong> vs. <strong>{{game.players.black.username}}</strong>
  #captured-pieces.chess-dashboard-subpanel.panel.panel-primary
  div
  #move-record.chess-dashboard-subpanel.panel.panel-primary
    .panel-body
      table#move-record-table.table
        thead
          tr
            th #
            th
              img.player-indicator(src='images/WhiteKing.png')
            th
              img.player-indicator(src='images/BlackKing.png')
        tbody
    .panel-footer.noselect
      .panel-footer-row-notlast
        button#to-start-button.btn.btn-default
          i.fa.fa-fast-backward
        button#step-backward-button.btn.btn-default
          i.fa.fa-step-backward
        button#current-move-button.btn.btn-default
          i.fa.fa-home
        button#step-forward-button.btn.btn-default
          i.fa.fa-step-forward
        button#to-end-button.btn.btn-default
          i.fa.fa-fast-forward
