#game-status.alert.chess-dashboard-subpanel(class="{{statusClass()}}") {{statusText()}}

.col-xs-8.chess-board-container.noselect
  #chess-board(ng-controller="chessBoardController" elem-ready="boardReady()")
    .chess-square(ng-repeat="loc in boardLocs" class="{{squareClasses(loc)}}" elem-ready="squareReady()")
      .col-label.col-label-top(ng-if="loc.row === (myColor === 'black' ? 0 : game.boardInfo.numRows - 1)") {{colLabels[loc.col]}}
      .col-label.col-label-bot(ng-if="loc.row === (myColor === 'white' ? 0 : game.boardInfo.numRows - 1)") {{colLabels[loc.col]}}
      .row-label.row-label-left(ng-if="loc.col === (myColor === 'white' ? 0 : game.boardInfo.numCols - 1)") {{loc.row + 1}}
      .row-label.row-label-right(ng-if="loc.col === (myColor === 'black' ? 0 : game.boardInfo.numCols - 1)") {{loc.row + 1}}

.col-xs-4
  #chess-dashboard.panel.panel-primary
    .panel-heading <strong>{{players.white.username}}</strong> vs. <strong>{{players.black.username}}</strong>
    #piece-type-display.chess-dashboard-subpanel.panel.panel-primary(ng-show="pieceTypeToDisplay")
      chess-piece-type-display(chess-piece-type="pieceTypeToDisplay"
        chess-display-movement-vectors="displayMovementVectors" chess-is-nestable="isNestable" chess-game="game")
    #captured-pieces.chess-dashboard-subpanel.panel.panel-primary(ng-show="!pieceTypeToDisplay")
      div
        span.captured-piece(ng-repeat="pieceImage in whiteCapturedPieceImages() track by $index")
          img(src="{{pieceImage}}")
      div
        span.captured-piece(ng-repeat="pieceImage in blackCapturedPieceImages() track by $index")
          img(src="{{pieceImage}}")
    #move-record.chess-dashboard-subpanel.panel.panel-primary(ng-show="!pieceTypeToDisplay")
      .panel-body
        table#move-record-table.table
          thead
            tr
              th #
              th
                img.player-indicator(src='images/WhiteKing.png')
              th
                img.player-indicator(src='images/BlackKing.png')
          tbody
            tr(ng-repeat="move in moveRecord | moveDisplayFilter")
              td {{$index+1}}
              td {{move[0]}}
              td {{move[1]}}
      //- .panel-footer.noselect
      //-   .panel-footer-row-notlast
      //-     button#to-start-button.btn.btn-default
      //-       i.fa.fa-fast-backward
      //-     button#step-backward-button.btn.btn-default
      //-       i.fa.fa-step-backward
      //-     button#current-move-button.btn.btn-default
      //-       i.fa.fa-home
      //-     button#step-forward-button.btn.btn-default
      //-       i.fa.fa-step-forward
      //-     button#to-end-button.btn.btn-default
      //-       i.fa.fa-fast-forward
