div
  a.btn.btn-warning#initiate-challenge-button(href="#/initiate-challenge") Challenge a Friend!

//- div
//-   p Me: {{me}}
//-   p Challenge list: {{challengeList}}

h2 Games in Progress

ul.list-group
  li.list-group-item(ng-repeat="challenge in challengeList | filter:isAccepted")
    div.h4
      span(ng-show="challenge.sender._id === challenge.game.players.white") <strong>{{formatUsername(challenge.sender)}}</strong> vs. <strong>{{formatUsername(challenge.receiver)}}</strong>
      span(ng-show="challenge.sender._id === challenge.game.players.black") <strong>{{formatUsername(challenge.receiver)}}</strong> vs. <strong>{{formatUsername(challenge.sender)}}</strong
    div
      a.btn.btn-success.play-game-button(href="#/play/{{challenge._id}}") Play

h2 Open Challenges

ul.list-group
  li.list-group-item(ng-repeat="challenge in challengeList | filter:isOpen")
    div.h4 From <strong>{{formatUsername(challenge.sender)}}</strong> to <strong>{{formatUsername(challenge.receiver)}}</strong>
    div(ng-show="isMe(challenge.sender)")
      button.btn.btn-default.withdraw-challenge-button(ng-click="deleteChallenge(challenge)") Withdraw
    div(ng-show="isMe(challenge.receiver)")
      button.btn.btn-success.accept-challenge-button(ng-click="acceptChallenge(challenge)") Accept
      span.horizontal-spacer
      button.btn.btn-danger.reject-challenge-button(ng-click="deleteChallenge(challenge)") Reject

  // XXX
  // h2 Completed Games
