.back-button {
  float: left;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 30pt;
}

#chess-board {
  margin: auto;
  position: relative;
  overflow: hidden;
  max-width: 90vmin;
}

#chess-board table {
  border-spacing: 0;
}

.chess-square {
  float: left;
  margin: 0;
  width: 12.5%;
  padding-bottom: 12.5%;
  position: relative;
}

.black-square {
  background-color: #A3B2BF;
}

.white-square {
  background-color: white;
}

.chess-square-highlighted.black-square {
  background-color: #6D7780;
}

.chess-square-highlighted.white-square {
  background-color: grey;
}

.chess-piece {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.chess-piece img {
  width: 100%;
  height: 100%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noselect:hover {
  cursor: default;
}

body {
  background-color: lightgrey;
  padding: 0;
}

.page {
  background-color: white;
  padding: 50px;
  text-align: center;
  line-height: 100%;
}

.main-header {
  text-align: center;
  /*color: #282828;*/
  font-family: sans-serif;
}

#chess-dashboard {
  /*display: inline-block;*/
  padding: 0;
  min-height: 475px;
  /*margin-top: 70px;*/
}

.chess-dashboard-subpanel {
  margin: 20px;
}

#piece-type-display {
  /*width: 100%;*/
  padding: 10px;
  z-index: 2;
  min-height: 392px;
}

#captured-pieces {
  min-height: 70px;
  text-align: left;
}

.captured-piece {
  display: inline-block;
}

.captured-piece img {
  width: 32px;
  height: 32px;
}

#move-record .panel-body {
  height: 300px;
  overflow: auto;
  margin: 0;
  padding: 0;
}

#move-record-table {
  /*font-weight: bold;*/
}

#move-record-table thead th {
  text-align: center;
}

.move-being-viewed {
  background-color: #EEE;
}

.hypothetical-move {
  color: #888;
  /*font-weight: normal;*/
}

#main-controls {
  margin-top: 10px;
}

#main-controls > div {
  margin-bottom: 5px;
}

.panel-footer-row-notlast {
  margin-bottom: 5px;
}

.player-indicator {
  width: 16px;
  height: 16px;
}
