body {
  background-image: url("/images/splash.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
}

.overlay {
  /*background-color: rgba(0,0,0,0.7);*/
  min-height: 100vh;
}

.page {
  background-color: rgba(32,32,32,0.95);
  max-width: 850px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #EEE;
}

h1 {
  margin: auto;
  margin-bottom: 50px;
  border-bottom: 1px solid grey;
  max-width: 500px;
  padding-bottom: 20px;
  font-size: 30pt;
}

.header-image {
  width: 32px;
  height: 32px;
  margin-left: 20px;
  margin-right: 20px;
}

.tagline {
  font-size: 18pt;
}

p {
  max-width: 600px;
  font-size: 12pt;
  margin: auto;
  line-height: 125%;
  margin-bottom: 30px;

}

form {
  position: relative;
  left: -40px;
  margin: auto;
  max-width: 500px;
  margin-bottom: 50px;
}

.login-header {
  font-size: 16pt;
}

.go-buttons {
  margin-bottom: 30px;
}

.go-buttons a {
  padding: 10px 40px;
  margin-left: 10px;
  margin-right: 10px
}

.image-credit {
  font-size: 8pt;
  color: grey;
}

.error {
  color: red;
  margin-bottom: 30px;
}
